/*--DEBUT NAVBAR--*/

.navbar-default {
    background-color: #82bdb5;
    font-size: 1.2em;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: lightblue;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: lightblue;
    background-color: #518e86;
}


@media (max-width: 900px) {
    .navbar-default {
        font-size: 1em;
    }
}

.MiseAJour {
    padding: 5px 10px 5px 10px;
    margin-left:25px;
    margin-top:7px;
    color: #5eb5e0;
    background: #ffffff;
    border: 1px solid #BCECE9;
}

.telephone{
    width: 80px;
    height:30px;
    margin-left:55px;
    margin-top:55px;
}
.logo-navbar{
    padding: 0;
    margin-top: -25px;
}
/*--FIN NAVBAR--*/





body {
    margin-top:0;

}





/*--DEBUT PSYCHOMOTRICITE--*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

#Psychomotricité {
    max-width: 25000px;
    height: auto;
    padding-right: 50px;
    padding-bottom: 50px;
    background-color: #82BDB5;
}

#Psychomotricité h2 {
    text-decoration: none;
    color: #ffffff;
    padding-top: 10px;
    font-size: 1.8em;
}

#Psychomotricité h2:hover {
    text-decoration: none;
}

#Psychomotricité p {
    padding-top: 10px;
    color: #ffffff;
    text-align: justify;
    text-justify: inter-word;
}

#Psychomotricité img{
    padding-top: 30px;
    padding-bottom: 20px;
}





/*--FIN PSYCHOMOTRICITE--*/


/*--DEBUT PSYCHOMOTRICIENNES--*/

#psychomot {
    height: auto;
}

.left, .right {
    padding-bottom: 50px;
    /*color: white;*/
    padding-top: 70px;
}

.border {
    border: 5px solid #82BDB5;
    margin-top: 20px;
}

#psychomot h3, #psychomot h5 {
    text-align: center;
}

#psychomot p {
    text-align: justify;
    text-justify: inter-word;
    padding: 15px 15px 15px 15px;
    font-size: 16px;
    white-space: pre-wrap;
}

#psychomot img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    border: 5px solid #82BDB5;
    width: 70%;
}

#psychomot h3 {
    background-color: white;
    margin: -15px 160px 0 160px;
    color: #82BDB5;
}

.titrePsycholog {
    margin-right:40px;
    margin-left:40px;
}

@media screen and (max-width: 1000px) {

    #psychomot img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 60px;
        border: 5px solid #82BDB5;
        width: 100%;
    }

    #psychomot h3 {
        background-color: white;
        margin: -15px 60px 0 60px;
        color: #82BDB5;
    }
}

/*--FIN PSYCHOMOTRICIENNES--*/





/*--DEBUT INTERVENTION--*/

#consultation {
    max-width: 25000px;
    height: auto;
    padding-right: 50px;
    padding-bottom: 50px;
    background-color: #82BDB5;
}

#consultation h2 {
    text-decoration: none;
    color: #ffffff;
    padding-top: 10px;
    font-size: 1.8em;
}

#consultation h2:hover {
    text-decoration: none;
}

#consultation p {
    padding-top: 10px;
    color: #ffffff;
    text-align: justify;
    text-justify: inter-word;
}

#consultation img{
    padding-top: 30px;
    padding-bottom: 20px;
}
/*--FIN INTERVENTION--*/

/*DEBUT CONTACT*/


#page-contact {
    padding-top: 70px;
    padding-bottom: 70px;
}

.essai1{
    padding-bottom: 20px;
    margin-left:100px;
}

#page-contact p, #page-contact h3 {
    text-align: center;
}

#page-contact p {
    font-size: 16px;
}

#page-contact h3 {
    background-color: white;
    margin: -15px 120px 0px 120px;
    color: #82BDB5;
}

.contact {
    border: 5px solid #82BDB5;
}

.send {
    margin-bottom: 10px;
}

.message{
    text-align: center;
}

.formulaire, .adress {
    margin-top: 40px;
}

@media screen and (max-width: 1300px) {
    .map {
        display:none
    }
    #page-contact{
        width: 150%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 850px) {
    .map {
        display:none
    }
    #page-contact{
        width: 90%;
        margin-left: 0%;
    }
}



/*FIN CONTACT*/

/*--DEBUT FOOTER--*/

footer{
    background-color: #82BDB5;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom:8px;
}

.ml:link {
    color: white;
    text-decoration: none;
}

.ml:visited {
    color: white;
    text-decoration: none;
}

.ml:hover {
    color: #BCECE9;
    text-decoration: none;
}

.ml:active {
    color: #518e86;
    text-decoration: none;
}

.modal-body1{
    padding-left: 30px;
    padding-right: 30px;
    color: #000;
    background-image: url(../img/points.png);
    background-position: bottom right;
    background-size: 80%;
    background-repeat: no-repeat;
}


/*modal Eleves*/

.modal-body{
    color: black;
    font-size: 1.2em;
}

.modal-body h2{
    color: #FE8801;
}

.modal-body1 p{
    color: black;
    padding-bottom: 30px;
}

.alert{
    background-color: #FE9B1A;
    border: none;
}

.alert-info{
    color: #fff;
}

.lienLink:link {
    color: #FE9B1A;
    text-decoration: none;
}

.lienLink:visited {
    color: #FE9B1A;
    text-decoration: none;
}

.lienLink:hover {
    color: #FECC76;
    text-decoration: none;
}

.lienLink:active {
    color: #FECC76;
    text-decoration: none;
}

#texteWCS{
    margin-top: 60px;
}

.wcs{
    height: 15em;
    margin-top:20px;
}


/*--FIN FOOTER--*/

